---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"ul"> & { links: { name: string; href: string }[] };

const { links, class: className, ...props } = Astro.props;
---

<nav>
    <ul class:list={["flex flex-col md:flex-row md:space-x-2 list-none", className]} {...props}>
        {
            links.map((link, i) => (
                <li class="text-base md:text-lg text-slate-400 after:content-['/'] after:text-gray-600 last:after:content-none md:after:content-['>']">
                    {i !== links.length - 1 ? <a href={link.href} class="hover:underline">{link.name}</a> : link.name}
                </li>
            ))
        }
    </ul>
</nav>
