---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const props = Astro.props;
---

<li class="py-0.5 md:py-1 px-2 text-sm md:text-[0.7em] bg-slate-800 rounded-md" {...props}>
    <slot />
</li>
