---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";

type Props = HTMLAttributes<"img"> & {
    title: string;
    description: string;
};

const { title, description, src, alt } = Astro.props;
---

<div
    class={`w-full h-80 p-14 border-2 border-blue-300 border-solid rounded-lg relative overflow-hidden`}
>
    <span></span>
    <Image
        class="absolute inset-0 -inset-y-20 -z-40"
        src={src}
        alt={alt}
        width={1600}
        height={200}
    />
    <h2 class="hero-font text-5xl">{title}</h2>
    <p class="mt-6 max-w-xl">{description}</p>
    <slot />
</div>
<style>
    div > span {
        @apply w-full h-full opacity-60 absolute inset-0 -z-30;
        background-color: hsla(235, 62%, 9%, 1);
        background-image: radial-gradient(at 23% 70%, hsla(262, 97%, 13%, 1) 0px, transparent 50%),
            radial-gradient(at 99% 93%, hsla(240, 46%, 23%, 1) 0px, transparent 50%),
            radial-gradient(at 18% 0%, hsla(215, 100%, 70%, 0.24) 0px, transparent 50%);
            background-color:hsla(222,65%,6%,1);
    }
</style>
