---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button"> & {
    url: string;
};

const props = Astro.props;
---

<button
    class="py-2 px-4 text-xl tracking-wider bg-fuchsia-500/60 ring-1 ring-fuchsia-400 hover:-translate-y-0.5 active:translate-y-0 rounded-sm absolute bottom-10 right-10 transition-all"
    onclick={`window.open('${props.url}', '_blank')`}
>
    <slot />
</button>
