@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Karla&display=swap');
@tailwind base;

@font-face {
	font-family: Avigea;
	src: url("/fonts/Avigea.woff2") format("woff2"), url("./fonts/Avigea.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: Avigea;
	src: url("/fonts/Avigea Italic.woff2") format("woff2"), url("fonts/Avigea Italic.woff") format("woff");
	font-style: italic;
	font-display: swap;
}

@layer base {
	html {
		@apply font-["Karla"] scroll-pt-5 scroll-smooth;
		--hashtag-icon: url("/icons/hashtag.svg");
	}

	button {
		@apply focus-visible:ring-4 focus-visible:ring-cyan-500 focus-visible:ring-offset-2
	}

	body {
		background-color:hsl(219, 54%, 10%);
		@apply text-slate-300 text-base md:text-lg lg:text-xl break-words;
	}

	content {
		@apply leading-6;
	}

	table {
		@apply w-full;
	}

	code {
		@apply px-1.5 py-0.5 text-base bg-slate-400/10 font-["JetBrains_Mono",_monospace] rounded-md;
	}

	pre {
		@apply p-4;
	}

	pre > code {
		all: unset;
	}

	.hero-font {
		@apply font-["Avigea"] leading-10 tracking-wider;
	}

	.gradient-underline {
		@apply bg-[length:0%_2px,100%] hover:bg-[length:100%_2px,0%] bg-left-bottom bg-gradient-to-r from-teal-300 to-cyan-400 no-underline bg-no-repeat transition-[background-size] duration-300 ease-in-out;
	}
}