@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Karla&display=swap');

@font-face {
	font-family: Avigea;
	src: url("/fonts/Avigea.woff2") format("woff2"), url("./fonts/Avigea.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: Avigea;
	src: url("/fonts/Avigea Italic.woff2") format("woff2"), url("fonts/Avigea Italic.woff") format("woff");
	font-style: italic;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 1.2rem;
	--hashtag-icon: url("/icons/hashtag.svg");
}

button {
	@apply focus:ring-2 focus:ring-cyan-500 focus:ring-inset
}

body {
	font-family: "Karla", sans-serif;
	margin: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: manual;
	background: radial-gradient(
		farthest-side at bottom left, 
		hsl(212, 48%, 15%) 0%, 
		hsl(214, 51%, 14%) 50%,
		hsl(219, 54%, 10%) 100%
	);
	@apply text-slate-300 text-base md:text-lg lg:text-xl;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	@apply px-1 py-1 text-base bg-slate-400/10 font-["JetBrains_Mono",monospace] rounded-md;
}

pre {
	padding: 1rem;
}

pre > code {
	all: unset;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

.hero-font {
	@apply font-["Avigea"] leading-10 tracking-wider;
}

.markdown {
	@apply 
	prose-cyan prose-lg md:prose-xl
	prose-headings:relative
	prose-h2:text-cyan-400
	prose-h3:text-cyan-500
	dark:prose-invert
}

/* Hashtag on anchor headings */
.markdown > :where(h2, h3, h4) > a {
	@apply 
	before:w-8 before:h-8
	before:px-1.5 before:pt-1
	before:border-2 before:border-white/10 before:border-solid
	before:text-xl before:text-slate-500 before:font-bold
	before:content-[var(--hashtag-icon)]
	before:opacity-0 hover:before:opacity-100 /* hovering `a` itself, not `::before` */
	before:rounded-md
	before:hidden lg:before:block
	before:absolute before:-left-12 before:translate-y-1/2 before:bottom-1/2
}